/* not my stylesheet. see link to author: https://github.com/sameerasw/my-internet/tree/main */


:root {
  --main-bg-color: #191724;
}

/* transparency */
html,
body,
nav,
header,
.app-root,
#pass-sidebar,
#main,
#content,
section,
.border-r,
.group\/sidebar-wrapper>div,
.dark\:bg-sidebar>div,
main>div,
.to-transparent,
.bg-noise,
.bg-gradient-noise-top {
  background-color: var(--main-bg-color) !important;
  background: var(--main-bg-color) !important;
  border: none !important;
  box-shadow: none !important;
  transition:
    background-color 0.5s ease-in-out,
    background 0.5s ease-in-out,
    border 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out !important;
}

/* hidden */
footer,
span:has(a[href="/terms-of-service"]),
.prose:has(a[href="/terms-of-service"]),
[style="clip-path: inset(0px 12px 0px 0px);"],
.fixed.right-0.top-0 .ease-snappy svg {
  display: none !important;
}